.ccbody{
    background-color: white;
    width: 28%;
    height: 120px;
    margin: 16px 8px;
    padding: 16px;
    border-radius: 8px;
}
.cavatar{
    height: 80px;

}
.cctop{
    display: flex;
}
.ccinfo{
    display: flex;
    flex-direction: column;
    margin-left: 16px;

}
.cctitle{
    font-weight: 600;
}
.ccsubtitle{
    font-size: 12px;
    margin: 6px 0px;
}
.ccicons{
    display: flex;
    margin-top: 16px;
    width: 40%;
    justify-content: space-between;
}
.cciicons{}