/* .Hbody{
width: 100%;
display: flex;
background-color: #1eb2a6;
color: white;
flex: 1;
top: 0%;
padding: 8px 0px;
position: fixed;
z-index: 100;
}
.Hsidebar{
display: flex;
flex: 1;
justify-content: center;
align-items: center;
font-size: 20px;
z-index: 100;
}
.Hleftfold{
    display: flex;
flex: 3;
justify-content: flex-start;
align-items: center ;
}
.Hrightfold{
    display: flex;
    flex: 11;
    justify-content: space-between;
    z-index: 100;
}
.Hlabel{
    font-size: 20px;
    font-weight: 500;
    margin-left: 16px;
    z-index: 100;
}
.HSearch{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: 6;
    background-color:#e1e1e1;
    padding: 8px;
    border-radius: 6px;
    color: #1eb2a6;
    z-index: 100;
}
.HSearch input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: #e1e1e1;
    margin-left: 6px;
    color: #1eb2a6;
    outline: none;


}
.Hprofile{
display: flex;
flex:4;
justify-content: flex-end;
align-items: center;
padding-right: 16px;

}
.Havatar{
    height: 32px;
    border-radius: 60px;

}
.Hoptions{
   
    font-size: 20px;
    margin-right: 20px;
}
.Hoptions button{
    margin-top: 1px;
    margin-right: 70px;
    width: 100px;
    height: 50px;
} */

.Hbody{
    width: 100%;
    display: flex;
    background-color:#0a384e;
    color: white;
    flex: 1;
    top: 0%;
    padding: 8px 0px;
    position: fixed;
    z-index: 100;
    }
    .Hsidebar{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    z-index: 100;
    }
    .Hleftfold{
        display: flex;
    flex: 3;
    justify-content: flex-start;
    align-items: center ;
    }
    .Hrightfold{
        display: flex;
        flex: 11;
        justify-content: space-between;
        z-index: 100;
    }
    .Hlabel{
        font-size: 20px;
        font-weight: 500;
        margin-left: 16px;
        z-index: 100;
    }
    .HSearch{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: 6;
        background-color:#e1e1e1;
        padding: 8px;
        border-radius: 6px;
        color: #1eb2a6;
        z-index: 100;
    }
    .HSearch input{
        border: none;
        width: 100%;
        font-size: 16px;
        background-color: #e1e1e1;
        margin-left: 6px;
        color: #1eb2a6;
        outline: none;
    
    
    }
    .Hprofile{
    display: flex;
    flex:4;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
    
    }
    .Havatar{
        height: 32px;
        border-radius: 60px;
    
    }
    .Hoptions{
        font-size: 20px;
        margin-right: 20px;
    }
    .Hoptions button{
        margin-top: 0px;
        margin-right: 70px;
        width: 100px;
        height: 50px;
    }