.dibody{
    display: flex;
    width: 100%;
    flex: 1;
    padding: 6px 0;
    

}
.diavatar{
    height: 32px;
}
.diinfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 8px;
    overflow: hidden;
}
.diicons{
    display: flex;
}
.dititle{
    font-weight: 500;
}
.disubtitle{
    font-size: 12px;
    color: #616161;
}