.sidebarOption{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px 0px;
    color: #161616;
    cursor: hover;
}
.sdbLabel{
    font-size: 9px;

}
.sdbIcon{
    font-size: 24px;
}
.active{
    color: rgb(13, 73, 64);
    border-left: 4px solid rgb(13, 73, 64);
}
.sidebarOption:hover{
    color: rgb(13, 73, 64);
}
