.back {
  background-image: url("back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
body{
  background-color: grey;
}
.container-login{
  width: 40%;
  margin-left: 30%;
  margin-top: 10px;
  background-color: rgba(255,255,255, 0.5);
  height: 600px;
  position: relative;
  top: 350px;
  /* background-image: url('back.webp'); */
}

.container-login img{
  margin-left: 36%;
  border-radius: 100px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.login hr{
  margin-top: 20px;
  margin-left: 10%;
  margin-right: 40px;
}
.imgl p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  margin-left: 5%;
}
.login input{
  width: 83%;
  margin-left: 10%;
  height: 40px;
}
.login button{
  margin-left: 10%;
  width: 500px;
  margin-top: 30px;
  /* width: auto; Allow the button to adjust its width based on content */
  }
/*.login textarea,
.login input {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  outline: none;
  border: 1px solid grey;
}*/
  form .flexSB input:nth-child(1) {
    margin-right: 50px;
  }

  /* @media screen and (max-width: 368px) {
    .contacts .container {
      flex-direction: column;
    } */
    @media screen and (max-width: 368px) {
      .container-login {
        width: 90%; /* Adjust width for smaller screens */
        margin-left: 5%;
        margin-top: 1000px;
      }
    
      .imgl img {
        width: 60%; /* Adjust image width for smaller screens */
      }
    
      .login input,
      .login button {

        width: 95%; /* Adjust input and button width for smaller screens */
        margin-left: 5%;
      }
  }